@inherits ParameterLayout<KeyViewModel>

<button type="button" tabindex="-1" onclick="@ViewModel.SubmitKeyCommand.Bind()" class="flex items-center justify-center cursor-pointer text-xl m-0.5 min-h-10 p-0.5 uppercase rounded @(SelectCss()) @(ViewModel.IsWide ? "flex-[2_1_0%]" : "flex-1") border-[3px]">
    @ViewModel.Text
</button>

@code
{
    public string SelectCss()
    {
        if (ViewModel.Hint is Hints.Correct)
        {
            return "hint-correct";
        }

        if (ViewModel.Hint is Hints.Elsewhere)
        {
            return "hint-elsewhere";
        }

        return "hint-incorrect";
    }
}