@inherits ParameterLayout<CellViewModel>

<div class="pallete-cell border-[@(ViewModel.Width is > 7 ? "1" : "3")px]">
    <div class="pallete-cell-base pallete-cell-character @(SelectCss())">
        @ViewModel.Text
    </div>
</div>

@code
{
    public string SelectCss()
    {
        if (ViewModel.Hint is Hints.Correct)
        {
            return ViewModel.IsHunch ? "hint-hunch-correct" : "hint-correct";
        }

        if (ViewModel.Hint is Hints.Elsewhere)
        {
            return ViewModel.IsHunch ? "hint-hunch-elsewhere" : "hint-elsewhere";
        }

        if (ViewModel.Hint is Hints.Wrong)
        {
            return ViewModel.IsHunch ? "hint-hunch-wrong" : "hint-incorrect";
        }

        return ViewModel.IsHunch ? "hint-hunch-unknown" : "hint-incorrect";
    }
}