@inherits ParameterLayout<PalleteViewModel>

@if (ViewModel.IsFaulted)
{
    <div class="w-full lg:translate-x-8 flex justify-center items-center">
        <div>Something went wrong while loading this puzzle.</div>
    </div>
}
else
{
    <div class="w-full flex flex-col">
        @if (ViewModel.ClueRowViewModels.Count is > 0)
        {
            <div style="grid-template-columns: repeat(@((ViewModel.Width + 2).ToString()), minmax(0, 1fr));" class="pallete-table">
                @foreach (RowViewModel clueRowViewModel in ViewModel.ClueRowViewModels)
                {
                    <RowView ViewModel="clueRowViewModel" />
                }
            </div>
            <div class="w-3/5 h-1 bg-emerald-700 my-4 mx-auto" />
        }
        <div style="grid-template-columns: repeat(@((ViewModel.Width + 2).ToString()), minmax(0, 1fr));" class="pallete-table">
            @foreach (RowViewModel guessRowViewModel in ViewModel.GuessRowViewModels)
            {
                <RowView ViewModel="guessRowViewModel" />
            }
            @if (!ViewModel.IsFinished)
            {
                <RowView ViewModel="ViewModel.HunchRowViewModel" />
            }
            @foreach (RowViewModel remainingRowViewModel in ViewModel.RemainingRowViewModels)
            {
                <RowView ViewModel="remainingRowViewModel" />
            }
        </div>
    </div>
}
