@inherits ParameterLayout<RowViewModel>

<div class="pallete-cell border-[3px]">
    <div class="pallete-cell-base pallete-cell-character border-slate-300">
        &nbsp;
    </div>
</div>
@foreach (CellViewModel cellViewModel in ViewModel.CellViewModels)
{
    <CellView ViewModel="cellViewModel" />
}
<div class="pallete-cell border-[3px]">
    <div class="pallete-cell-base border-slate-300 font-bold">
        @ViewModel.Annotation
    </div>
</div>
