@inherits ParameterLayout<RowViewModel>

<div class="pallete-cell border-[3px]">
    <div class="pallete-cell-base pallete-cell-character border-slate-300">
        &nbsp;
    </div>
</div>
@foreach (CellViewModel cellViewModel in ViewModel.CellViewModels)
{
    <CellView ViewModel="cellViewModel" />
}
<div class="pallete-cell border-[3px]">
    <div class="pallete-cell-base border-slate-300 font-bold">
        <div class="@(ViewModel.IsBonus && ViewModel.IsHuh ? "block" : "")">
            @if (ViewModel.IsInfinite)
            {
                <span class="text-2xl">&infin;</span>
            }
            else
            {
                @if (ViewModel.IsBonus)
                {
                    <span>Bonus!</span>
                }
                @if (ViewModel.IsBonus && ViewModel.IsHuh)
                {
                    <br/>
                }
                @if (ViewModel.IsHuh)
                {
                    <span>Huh?</span>
                }
            }
        </div>
    </div>
</div>
