@inherits ParameterLayout<ListInputViewModel>

<div class="designer-input">
    <TextInput @bind-Text="ViewModel.Text" @bind-Text:after="ViewModel.TextChangedCommand.BindAfter()" Validator="@ViewModel.TextValidator" />
    <div>
        <button type="button" @onclick="ViewModel.RemoveCommand.Bind()" class="designer-button designer-remove-button">
            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
</div>